<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-button  slot="end" size ="small"  (click)="add()" >
      <ion-icon name="add"></ion-icon>
      </ion-button>
    <ion-title>studentdetil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let course of courses; index as i"  (dblclick)="show()" (click)="hide(i)">
    <ion-item>
     {{course.coursename}}
     <div *ngIf="showdetial">
      <ion-item>
        <ion-label>{{course.courseid}}</ion-label>
        <ion-label>{{course.class}}</ion-label>
        <ion-label>{{course.time}}</ion-label>
      </ion-item>
    </div>
     </ion-item>
    
    <ion-item-options>
        <ion-button  size ="small" color="danger" (click)="delete(i)">DELETE</ion-button>
        <ion-button  size ="small" color="success" (click)="edit(i)">EDIT</ion-button>
    </ion-item-options>

   

</ion-item-sliding>

</ion-content>
