<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="logout()">Logout</ion-button>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-img style="width: 200px; height: 80px; align-items: center;" class="img" src="../assets/griffith.png"></ion-img>

  <ion-item routerLink="../navimps" routerDirection="forward">
    <ion-label>Navi Map</ion-label>
   </ion-item>
   <ion-item routerLink="../chart" routerDirection="forward">
    <ion-label>Chart</ion-label>
   </ion-item>
   <ion-item routerLink="../studentdetil" routerDirection="forward">
    <ion-label>Students Detail</ion-label>
   </ion-item>

</ion-content>
