<ion-header>
  <ion-toolbar>
    <ion-title>Add Contact</ion-title>
    <ion-button (click)="Exit()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>  
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="firstname" value="" placeholder="First Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="lastname" value="" placeholder="Last Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="email" value="" placeholder="Email"></ion-input>
  </ion-item>
  <ion-button (click)="AddContact()">Create Account</ion-button>
</ion-content>
  